.cool {
	margin-top: 100px;
	padding-bottom: 100px;
	&__container {
		display: flex;
		&-left {
			position: relative;
			margin: 16px;
			margin-right: 17px;
			margin-left: 0;
			width: 100%;
			max-width: 548px;
			box-sizing: content-box;
			background: url("../img/cool-image.png") no-repeat;
			background-size: cover;
			background-position: center;
		}
		&-right {
			position: relative;
			margin: 16px;
			margin-right: 0;
			display: flex;
			flex-direction: column;
		}
	}
	&__title {
		margin-bottom: 40px;
	}
	&__list {
		margin-top: 0;
		margin-bottom: 24px;
		padding-left: 24px;
	}
}

@media (max-width: 1024px) {
	.cool {
		&__title {
			font-size: 70px;
			line-height: 70px;
		}
	}
}

@media (max-width: 768px) {
	.cool {
		&__container {
			flex-direction: column;
			&-left {
				height: 200px;
				max-width: unset;
				background-position-x: center;
				background-position-y: calc(100% + 65px);
				margin-right: 0;
				margin-bottom: 20px;
				& .line {
					display: none;
					&-horizontal-top {
						display: block;
					}
				}
			}
			&-right {
				margin-top: 0;
				margin-left: 0;
				& .line {
					&-horizontal-top {
						display: none;
					}
				}
			}
		}
		&__title {
			max-width: 340px;
			font-size: 50px;
			line-height: 50px;
			margin-bottom: 16px;
		}
	}
}

@media (max-width: 375px) {
	.cool {
		&__container {
			&-left {
				height: 175px;
				background-position-y: 100%;
			}
		}
	}
}
