.feedback {
	margin-top: 100px;
	min-height: 521px;
	&__container {
		display: flex;
		&-doc {
			display: flex;
			column-gap: 8px;
		}
		&-text {
			display: flex;
			flex-direction: column;
		}
		&-input {
			margin-bottom: 16px;
		}
	}
	&__side {
		position: relative;
		&-left {
			max-width: 548px;
			margin-right: 15px;
			min-height: 521px;
		}
		&-right {
			margin-left: 16px;
			width: 100%;
			min-height: 521px;
		}
	}
	&__subtitle {
		max-width: 432px;
	}
	&__title {
		padding-top: 32px;
		margin-bottom: 16px;
		text-transform: uppercase;
		&-blue {
			color: var(--1-blue-color);
		}
	}
	&__input {
		padding: 13px 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		border: 1px solid var(--1-grey-color);
		width: 100%;
		margin-bottom: 16px;
		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: var(--black-color);
		}
		&-file {
			position: absolute;
			z-index: -1;
			opacity: 0;
			display: block;
			width: 0;
			height: 0;
		}
		&-checkbox {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			&:checked {
				& ~ .feedback__input-checkbox-control::after {
					opacity: 1;
				}
			}
			&-control {
				position: relative;
				border: 2px solid var(--1-blue-color);
				border-radius: 3px;
				width: 18px;
				height: 18px;
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
					width: 5px;
					height: 10px;
					border: solid var(--1-blue-color);
					border-width: 0 2px 2px 0;
					opacity: 0;
					transition: opacity 0.3s;
				}
			}
		}
	}
	&__button {
		&-file {
			position: relative;
			cursor: pointer;
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: var(--1-blue-color);
		}
		&-remove {
			cursor: pointer;
		}
		&-send {
			width: 100%;
			margin-bottom: 16px;
		}
	}
	&__label {
		&-file {
			position: relative;
			display: inline-block;
		}
		&-checkbox {
			display: flex;
			align-items: center;
			column-gap: 11px;
			cursor: pointer;
		}
	}
	&__item {
		&-file {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;
		}
	}
}
