.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid var(--black-color);
	border-left: 1px solid var(--black-color);
	max-width: 803px;
	width: 100%;
	&__list {
		display: flex;
	}
	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	&__link {
		&-logo {
			display: block;
		}
	}
}
