.order {
	position: fixed;
	z-index: 50;
	inset: 0;
	background: rgba(50, 50, 50, 0.5);
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease, visibility 0.4s ease;
	cursor: pointer;
	&-active {
		opacity: 1;
		visibility: visible;
	}
	&__container {
		cursor: default;
		max-width: 664px;
		display: flex;
		align-items: flex-start;
		background: var(--3-grey-color);
		padding: 0;
		position: relative;
		&-doc {
			display: flex;
			column-gap: 8px;
		}
		&-text {
			display: flex;
			flex-direction: column;
		}
		&-input {
			margin-bottom: 16px;
		}
		&-icon {
			position: relative;
			width: 100%;
			height: 24px;
			display: flex;
		}
	}
	&__list {
		&-file {
			position: relative;
		}
	}
	&__overlay {
		position: absolute;
		inset: 0;
		padding: 77px 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--3-grey-color);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		&-active {
			opacity: 1;
			visibility: visible;
		}
	}
	&__title {
		margin-bottom: 8px;
		&-overlay {
			margin-bottom: 16px;
			text-align: center;
		}
	}
	&__subtitle {
		margin-bottom: 24px;
		&-overlay {
			max-width: 400px;
			text-align: center;
		}
	}
	&__form {
		padding: 16px 32px;
	}
	&__image {
		min-width: 200px;
		min-height: 600px;
	}
	&__input {
		padding: 13px 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		border: 1px solid var(--1-grey-color);
		width: 100%;
		margin-bottom: 16px;
		max-width: 400px;
		width: 100%;
		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: var(--black-color);
		}
		&-file {
			position: absolute;
			z-index: -1;
			opacity: 0;
			display: block;
			width: 0;
			height: 0;
		}
		&-checkbox {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			&:checked {
				& ~ .order__input-checkbox-control::after {
					opacity: 1;
				}
			}
			&-control {
				position: relative;
				border: 2px solid var(--1-blue-color);
				border-radius: 3px;
				width: 18px;
				height: 18px;
				min-width: 18px;
				min-height: 18px;
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
					width: 5px;
					height: 10px;
					border: solid var(--1-blue-color);
					border-width: 0 2px 2px 0;
					opacity: 0;
					transition: opacity 0.3s;
				}
			}
		}
	}
	&__button {
		&-file {
			position: relative;
			cursor: pointer;
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: var(--1-blue-color);
		}
		&-remove {
			cursor: pointer;
		}
		&-send {
			width: 100%;
			margin-bottom: 16px;
		}
	}
	&__label {
		&-file {
			position: relative;
			display: inline-block;
		}
		&-checkbox {
			display: flex;
			align-items: center;
			column-gap: 11px;
			cursor: pointer;
		}
	}
	&__item {
		&-file {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;
		}
	}
	&__icon {
		&-close {
			&-form {
				position: absolute;
				top: 50%;
				right: -16px;
				transform: translateY(-50%);
				cursor: pointer;
				z-index: 120;
			}
		}
		&-ok {
			margin-bottom: 24px;
		}
	}
}
