<section class="cool">
	<div class="container cool__container">
		<div class="cool__container-left">
			<picture>
				<source srcset="./img/cool-image.webp" type="image/webp" />
				<img
					loading="lazy"
					src="./img/cool-image.png"
					class="image cool__image"
					width="548"
					height="668"
					alt="Фрактал"
				/>
			</picture>
			<span class="line line-horizontal-top"></span>
			<span class="line line-horizontal-bottom"></span>
			<span class="line line-vertical-right"></span>
		</div>
		<div class="cool__container-right">
			<h2 class="cool__title title__bigtext">Вот почему мы крутые</h2>
			<ul class="cool__list liset-reset">
				<li class="cool__item title__h5">
					В работе, как правило, мы используем VScode c ее плагинами;
				</li>
				<li class="cool__item title__h5">
					Прекрасно пишем на нативном JS;
				</li>
				<li class="cool__item title__h5">Избегаем использование JQ;</li>
				<li class="cool__item title__h5">
					Разбираемся в препроцессорах LESS/SASS/SCSS;
				</li>
				<li class="cool__item title__h5">
					Знаем Boostrap (3-4-5), но в основном используем Flex-Box;
				</li>
				<li class="cool__item title__h5">
					Умеем делать правильную интеграцию c WordPress;
				</li>
				<li class="cool__item title__h5">
					При предоставлении определенного объема работ (Информацию
					можно уточнить у менеджера) готовы подстроить технологию
					верстки под вас;
				</li>
				<li class="cool__item title__h5">
					По требованию используем webpack/gulp;
				</li>
				<li class="cool__item title__h5">Применяем метедологию БЭМ;</li>
				<li class="cool__item title__h5">
					Наша верстка соответсвует всем требованиям валидации;
				</li>
				<li class="cool__item title__h5">
					Умеем писать кастомные анимации;
				</li>
				<li class="cool__item title__h5">
					Без проблем поможем с регистрацией домена, хостинга и
					внедрением сайта;
				</li>
				<li class="cool__item title__h5">SEO Friendly;</li>
				<li class="cool__item title__h5">
					Всегда делаем Pixel-Perfect (допустимое отклониение 5px);
				</li>
				<li class="cool__item title__h5">
					При сдаче проекта проводим оптимизацию изображений и файлов.
				</li>
			</ul>
			<button class="btn-reset button button__secondary cool__button">
				Связаться
			</button>
			<span class="line line-horizontal-top"></span>
			<span class="line line-horizontal-bottom"></span>
		</div>
	</div>
</section>
