<section class="faq">
	<div class="container faq__container">
		<h2 class="faq__title-main title__bigtext">Часто спрашивают</h2>
		<ul class="faq__list list-reset">
			<li class="faq__accordion">
				<span class="line line-horizontal-top"></span>
				<div class="faq__control" aria-expanded="false">
					<h3 class="faq__title title__h3">
						<span class="faq__title-number">01</span>
						<span class="faq__title-inner">
							<span class="line line-vertical-left"></span>
							Есть ли юридическое лицо
							<span class="line line-vertical-right"></span>
						</span>
						<svg class="faq__icon">
							<use xlink:href="img/sprite.svg#ellipse"></use>
						</svg>
					</h3>
				</div>
				<div class="faq__content" aria-hidden="true">
					Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
				</div>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<div class="faq__control" aria-expanded="false">
					<h3 class="faq__title title__h3">
						<span class="faq__title-number">02</span>
						<span class="faq__title-inner">
							<span class="line line-vertical-left"></span>
							Почему ТЗ в figma
							<span class="line line-vertical-right"></span>
						</span>
						<svg class="faq__icon">
							<use xlink:href="img/sprite.svg#ellipse"></use>
						</svg>
					</h3>
				</div>
				<div class="faq__content" aria-hidden="true">
					Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
				</div>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<div class="faq__control" aria-expanded="false">
					<h3 class="faq__title title__h3">
						<span class="faq__title-number">03</span>
						<span class="faq__title-inner">
							<span class="line line-vertical-left"></span>
							С какого момента начинается работа
							<span class="line line-vertical-right"></span>
						</span>
						<svg class="faq__icon">
							<use xlink:href="img/sprite.svg#ellipse"></use>
						</svg>
					</h3>
				</div>
				<div class="faq__content" aria-hidden="true">
					Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
				</div>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<div class="faq__control" aria-expanded="false">
					<h3 class="faq__title title__h3">
						<span class="faq__title-number">04</span>
						<span class="faq__title-inner">
							<span class="line line-vertical-left"></span>
							Ценовая политика компании
							<span class="line line-vertical-right"></span>
						</span>
						<svg class="faq__icon">
							<use xlink:href="img/sprite.svg#ellipse"></use>
						</svg>
					</h3>
				</div>
				<div class="faq__content" aria-hidden="true">
					Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
				</div>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<div class="faq__control" aria-expanded="false">
					<h3 class="faq__title title__h3">
						<span class="faq__title-number">05</span>
						<span class="faq__title-inner">
							<span class="line line-vertical-left"></span>
							Сколько времени занимает верстка сайта
							<span class="line line-vertical-right"></span>
						</span>
						<svg class="faq__icon">
							<use xlink:href="img/sprite.svg#ellipse"></use>
						</svg>
					</h3>
				</div>
				<div class="faq__content" aria-hidden="true">
					Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
				</div>
				<span class="line line-horizontal-bottom"></span>
			</li>
		</ul>
	</div>
</section>
