<header class="header">
	<div class="container header__container">
		<a href="./" class="header__link-logo">
			<picture>
				<source srcset="./img/logo.webp" type="image/webp" />
				<img
					loading="lazy"
					src="./img/logo.png"
					class="image header__logo"
					width="70"
					height="49"
					alt="Логотип"
				/>
			</picture>
		</a>
		<nav class="nav" title="Навигационная панель">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#" class="nav__link">Портфолио</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Почему мы</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
