<section class="hero">
	<div class="container">
		<div class="hero__container">
			<h1 class="title__bigtext hero__title">ВЕРСТКА ВЕБ-САЙТОВ 1 В 1 ПО ДИЗАЙН-МАКЕТУ</h1>
			<ul class="hero__list list-reset">
				<li class="hero__item">Сами пишем техническое задание</li>
				<li class="hero__item">Даем рекомендации по дизайну</li>
				<li class="hero__item">Тестируем свою работу перед сдачей</li>
				<li class="hero__item">Соблюдаем сроки</li>
				<li class="hero__item">Работаем официально</li>
			</ul>
			<button class="btn-reset button button__primary hero__button" id="openOrderForm">
				Рассчитать стоимость
			</button>
		</div>
	</div>
</section>
