<section class="menu">
	<div class="menu__container">
		<ul class="nav__list list-reset">
			<li class="nav__item">
				<a href="#" class="nav__link title__h6">Портфолио</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link title__h6">Почему мы</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link title__h6">Контакты</a>
			</li>
			<li class="nav__item">
				<button href="#" class="nav__link title__h6 btn-reset button__policy">
					Политика конфиденциальности
				</button>
			</li>
			<li class="nav__item">
				<a href="mailto:v@opti.ooo" class="nav__link title__h6">v@opti.ooo</a>
			</li>
		</ul>
		<button class="btn-reset menu__button-close">
			<img loading="lazy" src="./img/form-close.svg" class="image" width="24" height="24" alt="Кнопка закрыть" />
		</button>
	</div>
</section>
