<section class="policy">
	<div class="container policy__container">
		<h3 class="title__h3 policy__title">Политика конфиденциальности</h3>
		<h5 class="title__h5 policy__text">
			Мы используем файлы Cookie для улучшения работы, персонализации и повышения удобства пользования нашим
			сайтом. Продолжая посещать сайт, вы соглашаетесь на использование нами файлов Cookie.
		</h5>
		<button class="btn-reset policy__button-close">
			<img loading="lazy" src="./img/form-close.svg" class="image" width="24" height="24" alt="Кнопка закрыть" />
		</button>
	</div>
</section>
