<section class="steps">
	<div class="container steps__container">
		<h2 class="title__bigtext steps__title-main">Этапы работы</h2>
		<ul class="steps__list list-reset">
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">Мы связываемся с вами</h2>
				</div>
				<div class="steps__content" aria-hidden="true">Под какую платформу выполняется вёрстка</div>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">Получение ТЗ в Figma</h2>
				</div>
				<div class="steps__content" aria-hidden="true">Под какую платформу выполняется вёрстка</div>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">Согласование требований</h2>
				</div>
				<div class="steps__content" aria-hidden="true">Под какую платформу выполняется вёрстка</div>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">Оценка стоимости и получение предоплаты 50%</h2>
				</div>
				<div class="steps__content" aria-hidden="true">Под какую платформу выполняется вёрстка</div>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">Вёрстка и предоставление готовых страниц для проверки</h2>
				</div>
				<div class="steps__content" aria-hidden="true">Под какую платформу выполняется вёрстка</div>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">Расчёт за выполненные работы</h2>
				</div>
				<div class="steps__content" aria-hidden="true">Под какую платформу выполняется вёрстка</div>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">Передача результата выполненных работ</h2>
				</div>
				<div class="steps__content" aria-hidden="true">Под какую платформу выполняется вёрстка</div>
			</li>
		</ul>
	</div>
</section>
